@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
